<header>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        
        <%= link_to root_path, class:"nav-link text-light" do %>
          保護猫プロジェクト
        <% end %>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              
              <% if customer_signed_in? %>
              
                <li>
                    <%= link_to customers_customer_path(current_user.id), class:"nav-link text-light" do %>
                    <i class="fa-solid fa-house"></i>マイページ
                    <% end %>
                </li>
                
                <li>
                    <%= link_to customers_lost_cats_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-cat"></i>
                    <i class="fa-solid fa-question"></i>
                    迷い猫情報
                    <% end %>
                </li>
                
                <li>
                    <%= link_to customers_cat_coffee_shops_path, class:"nav-link text-light" do %>
                    みんなの保護猫カフェ
                    <% end %>
                </li>
                
                <li>
                    <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link text-light" do %>
                    ログアウトはこちら！
                    <% end %>
                </li>
                
              <% else %>
                
                <li>
                    <%= link_to about_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-cat"></i>保護猫とは
                    <!--<i class="fa-solid fa-book-bookmark"></i>-->
                    <% end %>
                </li>
                
                <li>
                    <%= link_to new_customer_registration_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-hands"></i>
                    新規会員登録はこちら！
                    <% end %>
                </li>
                
                <li>
                    <%= link_to new_customer_session_path, class:"nav-link text-light" do %>
                    <i class="fa-solid fa-hands"></i>
                    すでに会員の方はこちら！
                    <% end %>
                </li>
                
              <% end %>
          </ul>
        </div>
        
    </div>
  </nav>
  
</header>